$color-primary: #1d5840;
$color-secondary: #e3b500;
$color-text: #333;
$color-orange: #ffce0d;
$color-danger: #db1717;
$color-white: #FFFFFF;
$color-black: #000000;
$color-dark: #171717;
$color-grey-light: #f7f7f7;
$color-grey: #d3d3d3;
$color-grey-dark: #313131;
$color-disabled: #afafaf;
