.main-container {
  display: flex;
  flex-direction: column;
  transform: translate(50%, 50%);
  width: 50vw;

  &--animation {
    animation: fadeInBottom 1s ease-in;
  }
}

table th, td {
  font-size: 2rem;
}
