table {
  background-color: $color-grey-light;
  border-collapse: collapse;
  font-size: 1.5rem;
  margin-bottom: 6rem;
  text-align: center;
  width: 100%;

  &, th, td {
    border: 1px solid $color-secondary;
  }
}

tr {
  &:nth-child(even) {
    background-color: $color-grey;
  }

  &:hover {
    background-image: linear-gradient(50deg, $color-dark, 20%, $color-disabled);
    color: $color-white;
    transition: all 0.1s;
  }
}

th {
  background-color: $color-primary;
  color: white;
  padding: 1rem;
  width: 20%;

  &:last-child {
    background-image: linear-gradient(50deg, $color-primary, 80%, $color-secondary);
  }
}

td {
  width: 20%;
}
