.header {
  height: 15vh;
  margin: 3rem;
  position: relative;

  &__logo-box {
    padding: 2rem;
    position: absolute;
    width: 15vw;
  }
  
  &__text-box {
    color: $color-white;
    font-size: 3rem;
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    top: 25%;
    transform: translate(-50%);
    position: absolute;
  }
}
